body{
    margin: 0;
    padding: 0;
}
.container{
    width: 500px;
    margin: 50px auto;
    border: 1px solid black;
    padding: 20px;
    background-color: aqua;
}
textarea{
    background-color: bisque;
}
button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}
